[submodule "third/assimp"]
	path = third/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
[submodule "third/tinyobjloader"]
	path = third/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third/yaml-cpp"]
	path = third/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third/glTF"]
	path = third/glTF
	url = https://github.com/KhronosGroup/glTF.git
